.cards-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.card {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 500px;
  margin: 1.5rem;
  transition: var(--transition-main);
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.5);
}
.card:hover {
  box-shadow: 0 4px 8px -3px rgb(0 0 0 / 20%), 0 8px 16px -5px rgb(0 0 0 / 10%);
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover button.add-to-cart {
  background-color: var(--clr-green);
  color: white;
}
.img-container {
  position: relative;
  width: 100%;
  height: 65%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: var(--transition-main);
  text-align: center;
}
.buttons-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.buttons-container button {
  position: relative;
  background-color: white;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  margin: 0.5rem;
  cursor: pointer;
  transition: var(--transition-main);
}
.buttons-container button:hover {
  background-color: var(--clr-green);
  color: white;
}
.buttons-container button::before {
  background-color: #222;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  transform: translate(-50%, -110%);
  font-size: 0.7rem;
  border-radius: 5px;
  opacity: 0;
  transition: var(--transition-main);
}
.buttons-container button.closer-look::before {
  content: 'Zoom in';
}
.buttons-container button.wishlist::before {
  content: 'Add to wishlist';
}
.buttons-container button.cart::before {
  content: 'Add to cart';
}
.buttons-container button::after {
  content: '';
  position: absolute;
  top: -7.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: 7px solid #222;
  opacity: 0;
  transition: var(--transition-main);
}
.buttons-container button:hover::before {
  opacity: 1;
}
.buttons-container button:hover::after {
  opacity: 1;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.stamp {
  position: absolute;
  top: 10px;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  padding-top: 5%;
  border-radius: 50%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.stamp.sale {
  right: 10px;
  background-color: red;
}
.stamp.new {
  left: 10px;
  background-color: var(--clr-green);
}
.details {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}
.details > * {
  margin: 10px;
}
.price {
  color: var(--clr-green);
  font-weight: 700;
}
.price small {
  font-weight: 400;
  font-size: 0.7rem;
  color: black;
  text-decoration: line-through;
  color: lightgray;
}
button.add-to-cart {
  position: relative;
  font-weight: 900;
  padding: 0.8rem 3rem;
  background-color: white;
  text-transform: uppercase;
  font-weight: 500;
  color: gray;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: var(--transition-main);
}
